## pip install pyspark

In [ ]:
#!pip install pyspark

## 1.Création d'une session Spark

In [1]:
from pyspark.sql import SparkSession        # SparkSession est le point d’entrée principal pour travailler avec DataFrames dans PySpark.

spark = SparkSession.builder \
    .appName("MonPremierPySpark") \
    .getOrCreate()

##2. Chargement des données

In [2]:
df = spark.read.csv("Espérance de vie.csv", header=True, inferSchema=True) # header=True : la première ligne contient les noms de colonnes et inferSchema=True : Spark devine les types de données

In [ ]:
df.show(5) # afficher les données

+---+-----------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+----------+-----------+---------------------+-------------------+--------------------------------------+-------------+
|_c0|       Pays|Année|    Statut|Espérance de vie|Mortalité des adultes|Décès de nourrissons|Alcool|Dépenses en pourcentage|Hépatite B|Rougeole| IMC|Décès d'enfants de moins de cinq ans|Polio|Dépenses totales|Diphtérie|VIH/SIDA |       PIB| Population| thinness  1-19 years| thinness 5-9 years|Composition des revenus des ressources|Scolarisation|
+---+-----------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+----------+-----------+---------------------+-------------------+--------------------------------------+-------------+
|  0|Afghanistan| 2015|Developing|            65.0|                263.0|                  62|  0.01|            71.27962362|      65.0|    1154|19.1|                                  83|  6.0|            8.16|     65.0|      0.1| 584.25921|3.3736494E7|                 17.2|               17.3|                                 0.479|         10.1|
|  1|Afghanistan| 2014|Developing|            59.9|                271.0|                  64|  0.01|            73.52358168|      62.0|     492|18.6|                                  86| 58.0|            8.18|     62.0|      0.1|612.696514|   327582.0|                 17.5|               17.5|                                 0.476|         10.0|
|  2|Afghanistan| 2013|Developing|            59.9|                268.0|                  66|  0.01|            73.21924272|      64.0|     430|18.1|                                  89| 62.0|            8.13|     64.0|      0.1|631.744976|3.1731688E7|                 17.7|               17.7|                                  0.47|          9.9|
|  3|Afghanistan| 2012|Developing|            59.5|                272.0|                  69|  0.01|             78.1842153|      67.0|    2787|17.6|                                  93| 67.0|            8.52|     67.0|      0.1|   669.959|  3696958.0|                 17.9|               18.0|                                 0.463|          9.8|
|  4|Afghanistan| 2011|Developing|            59.2|                275.0|                  71|  0.01|            7.097108703|      68.0|    3013|17.2|                                  97| 68.0|            7.87|     68.0|      0.1| 63.537231|  2978599.0|                 18.2|               18.2|                                 0.454|          9.5|
+---+-----------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+----------+-----------+---------------------+-------------------+--------------------------------------+-------------+
only showing top 5 rows

In [ ]:
type(df) # type de données

pyspark.sql.dataframe.DataFrame

## 3. Manipulation de DataFrames

In [3]:
df.printSchema()  # Afficher le schéma

root
 |-- _c0: integer (nullable = true)
 |-- Pays: string (nullable = true)
 |-- Année: integer (nullable = true)
 |-- Statut: string (nullable = true)
 |-- Espérance de vie: double (nullable = true)
 |-- Mortalité des adultes: double (nullable = true)
 |-- Décès de nourrissons: integer (nullable = true)
 |-- Alcool: double (nullable = true)
 |-- Dépenses en pourcentage: double (nullable = true)
 |-- Hépatite B: double (nullable = true)
 |-- Rougeole: integer (nullable = true)
 |-- IMC: double (nullable = true)
 |-- Décès d'enfants de moins de cinq ans: integer (nullable = true)
 |-- Polio: double (nullable = true)
 |-- Dépenses totales: double (nullable = true)
 |-- Diphtérie: double (nullable = true)
 |-- VIH/SIDA : double (nullable = true)
 |-- PIB: double (nullable = true)
 |-- Population: double (nullable = true)
 |--  thinness  1-19 years: double (nullable = true)
 |--  thinness 5-9 years: double (nullable = true)
 |-- Composition des revenus des ressources: double (nullable = true)
 |-- Scolarisation: double (nullable = true)

In [4]:
df.select("Pays", "Statut","Espérance de vie").show() # Sélection de colonnes

+-----------+----------+----------------+
|       Pays|    Statut|Espérance de vie|
+-----------+----------+----------------+
|Afghanistan|Developing|            65.0|
|Afghanistan|Developing|            59.9|
|Afghanistan|Developing|            59.9|
|Afghanistan|Developing|            59.5|
|Afghanistan|Developing|            59.2|
|Afghanistan|Developing|            58.8|
|Afghanistan|Developing|            58.6|
|Afghanistan|Developing|            58.1|
|Afghanistan|Developing|            57.5|
|Afghanistan|Developing|            57.3|
|Afghanistan|Developing|            57.3|
|Afghanistan|Developing|            57.0|
|Afghanistan|Developing|            56.7|
|Afghanistan|Developing|            56.2|
|Afghanistan|Developing|            55.3|
|Afghanistan|Developing|            54.8|
|    Albania|Developing|            77.8|
|    Albania|Developing|            77.5|
|    Albania|Developing|            77.2|
|    Albania|Developing|            76.9|
+-----------+----------+----------------+
only showing top 20 rows

In [5]:
from pyspark.sql.functions import col            # Ajout de colonnes

df = df.withColumn("Espérance de vie_plus_5", col("Espérance de vie") + 5)
df.show()

+---+-----------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+-----------+-----------+---------------------+-------------------+--------------------------------------+-------------+-----------------------+
|_c0|       Pays|Année|    Statut|Espérance de vie|Mortalité des adultes|Décès de nourrissons|Alcool|Dépenses en pourcentage|Hépatite B|Rougeole| IMC|Décès d'enfants de moins de cinq ans|Polio|Dépenses totales|Diphtérie|VIH/SIDA |        PIB| Population| thinness  1-19 years| thinness 5-9 years|Composition des revenus des ressources|Scolarisation|Espérance de vie_plus_5|
+---+-----------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+-----------+-----------+---------------------+-------------------+--------------------------------------+-------------+-----------------------+
|  0|Afghanistan| 2015|Developing|            65.0|                263.0|                  62|  0.01|            71.27962362|      65.0|    1154|19.1|                                  83|  6.0|            8.16|     65.0|      0.1|  584.25921|3.3736494E7|                 17.2|               17.3|                                 0.479|         10.1|                   70.0|
|  1|Afghanistan| 2014|Developing|            59.9|                271.0|                  64|  0.01|            73.52358168|      62.0|     492|18.6|                                  86| 58.0|            8.18|     62.0|      0.1| 612.696514|   327582.0|                 17.5|               17.5|                                 0.476|         10.0|                   64.9|
|  2|Afghanistan| 2013|Developing|            59.9|                268.0|                  66|  0.01|            73.21924272|      64.0|     430|18.1|                                  89| 62.0|            8.13|     64.0|      0.1| 631.744976|3.1731688E7|                 17.7|               17.7|                                  0.47|          9.9|                   64.9|
|  3|Afghanistan| 2012|Developing|            59.5|                272.0|                  69|  0.01|             78.1842153|      67.0|    2787|17.6|                                  93| 67.0|            8.52|     67.0|      0.1|    669.959|  3696958.0|                 17.9|               18.0|                                 0.463|          9.8|                   64.5|
|  4|Afghanistan| 2011|Developing|            59.2|                275.0|                  71|  0.01|            7.097108703|      68.0|    3013|17.2|                                  97| 68.0|            7.87|     68.0|      0.1|  63.537231|  2978599.0|                 18.2|               18.2|                                 0.454|          9.5|                   64.2|
|  5|Afghanistan| 2010|Developing|            58.8|                279.0|                  74|  0.01|            79.67936736|      66.0|    1989|16.7|                                 102| 66.0|             9.2|     66.0|      0.1|  553.32894|  2883167.0|                 18.4|               18.4|                                 0.448|          9.2|                   63.8|
|  6|Afghanistan| 2009|Developing|            58.6|                281.0|                  77|  0.01|            56.76221682|      63.0|    2861|16.2|                                 106| 63.0|            9.42|     63.0|      0.1|445.8932979|   284331.0|                 18.6|               18.7|                                 0.434|          8.9|                   63.6|
|  7|Afghanistan| 2008|Developing|            58.1|                287.0|                  80|  0.03|            25.87392536|      64.0|    1599|15.7|                                 110| 64.0|            8.33|     64.0|      0.1|373.3611163|  2729431.0|                 18.8|               18.9|                                 0.433|          8.7|                   63.1|
|  8|Afghanistan| 2007|Developing|            57.5|                295.0|                  82|  0.02|            10.91015598|      63.0|    1141|15.2|                                 113| 63.0|            6.73|     63.0|      0.1| 369.835796|2.6616792E7|                 19.0|               19.1|                                 0.415|          8.4|                   62.5|
|  9|Afghanistan| 2006|Developing|            57.3|                295.0|                  84|  0.03|            17.17151751|      64.0|    1990|14.7|                                 116| 58.0|            7.43|     58.0|      0.1|  272.56377|  2589345.0|                 19.2|               19.3|                                 0.405|          8.1|                   62.3|
| 10|Afghanistan| 2005|Developing|            57.3|                291.0|                  85|  0.02|            1.388647732|      66.0|    1296|14.2|                                 118| 58.0|             8.7|     58.0|      0.1| 25.2941299|   257798.0|                 19.3|               19.5|                                 0.396|          7.9|                   62.3|
| 11|Afghanistan| 2004|Developing|            57.0|                293.0|                  87|  0.02|            15.29606643|      67.0|     466|13.8|                                 120|  5.0|            8.79|      5.0|      0.1|219.1413528|2.4118979E7|                 19.5|               19.7|                                 0.381|          6.8|                   62.0|
| 12|Afghanistan| 2003|Developing|            56.7|                295.0|                  87|  0.01|            11.08905273|      65.0|     798|13.4|                                 122| 41.0|            8.82|     41.0|      0.1|198.7285436|  2364851.0|                 19.7|               19.9|                                 0.373|          6.5|                   61.7|
| 13|Afghanistan| 2002|Developing|            56.2|                  3.0|                  88|  0.01|            16.88735091|      64.0|    2486|13.0|                                 122| 36.0|            7.76|     36.0|      0.1|  187.84595|2.1979923E7|                 19.9|                2.2|                                 0.341|          6.2|                   61.2|
| 14|Afghanistan| 2001|Developing|            55.3|                316.0|                  88|  0.01|             10.5747282|      63.0|    8762|12.6|                                 122| 35.0|             7.8|     33.0|      0.1|  117.49698|  2966463.0|                  2.1|                2.4|                                  0.34|          5.9|                   60.3|
| 15|Afghanistan| 2000|Developing|            54.8|                321.0|                  88|  0.01|               10.42496|      62.0|    6532|12.2|                                 122| 24.0|             8.2|     24.0|      0.1|     114.56|   293756.0|                  2.3|                2.5|                                 0.338|          5.5|                   59.8|
| 16|    Albania| 2015|Developing|            77.8|                 74.0|                   0|   4.6|            364.9752287|      99.0|       0|58.0|                                   0| 99.0|             6.0|     99.0|      0.1| 3954.22783|    28873.0|                  1.2|                1.3|                                 0.762|         14.2|                   82.8|
| 17|    Albania| 2014|Developing|            77.5|                  8.0|                   0|  4.51|            428.7490668|      98.0|       0|57.2|                                   1| 98.0|            5.88|     98.0|      0.1|4575.763787|   288914.0|                  1.2|                1.3|                                 0.761|         14.2|                   82.5|
| 18|    Albania| 2013|Developing|            77.2|                 84.0|                   0|  4.76|            430.8769785|      99.0|       0|56.5|                                   1| 99.0|            5.66|     99.0|      0.1| 4414.72314|   289592.0|                  1.3|                1.4|                                 0.759|         14.2|                   82.2|
| 19|    Albania| 2012|Developing|            76.9|                 86.0|                   0|  5.14|            412.4433563|      99.0|       9|55.8|                                   1| 99.0|            5.59|     99.0|      0.1| 4247.61438|     2941.0|                  1.3|                1.4|                                 0.752|         14.2|                   81.9|
+---+-----------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+-----------+-----------+---------------------+-------------------+--------------------------------------+-------------+-----------------------+
only showing top 20 rows

## 4. Filtres, Sélections, Agrégations

In [6]:
df.filter(col("Année") > 2013).show()             # Filtrer les données

+---+-------------------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+-----------+-----------+---------------------+-------------------+--------------------------------------+-------------+-----------------------+
|_c0|               Pays|Année|    Statut|Espérance de vie|Mortalité des adultes|Décès de nourrissons|Alcool|Dépenses en pourcentage|Hépatite B|Rougeole| IMC|Décès d'enfants de moins de cinq ans|Polio|Dépenses totales|Diphtérie|VIH/SIDA |        PIB| Population| thinness  1-19 years| thinness 5-9 years|Composition des revenus des ressources|Scolarisation|Espérance de vie_plus_5|
+---+-------------------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+-----------+-----------+---------------------+-------------------+--------------------------------------+-------------+-----------------------+
|  0|        Afghanistan| 2015|Developing|            65.0|                263.0|                  62|  0.01|            71.27962362|      65.0|    1154|19.1|                                  83|  6.0|            8.16|     65.0|      0.1|  584.25921|3.3736494E7|                 17.2|               17.3|                                 0.479|         10.1|                   70.0|
|  1|        Afghanistan| 2014|Developing|            59.9|                271.0|                  64|  0.01|            73.52358168|      62.0|     492|18.6|                                  86| 58.0|            8.18|     62.0|      0.1| 612.696514|   327582.0|                 17.5|               17.5|                                 0.476|         10.0|                   64.9|
| 16|            Albania| 2015|Developing|            77.8|                 74.0|                   0|   4.6|            364.9752287|      99.0|       0|58.0|                                   0| 99.0|             6.0|     99.0|      0.1| 3954.22783|    28873.0|                  1.2|                1.3|                                 0.762|         14.2|                   82.8|
| 17|            Albania| 2014|Developing|            77.5|                  8.0|                   0|  4.51|            428.7490668|      98.0|       0|57.2|                                   1| 98.0|            5.88|     98.0|      0.1|4575.763787|   288914.0|                  1.2|                1.3|                                 0.761|         14.2|                   82.5|
| 32|            Algeria| 2015|Developing|            75.6|                 19.0|                  21|  NULL|                    0.0|      95.0|      63|59.5|                                  24| 95.0|            NULL|     95.0|      0.1| 4132.76292|3.9871528E7|                  6.0|                5.8|                                 0.743|         14.4|                   80.6|
| 33|            Algeria| 2014|Developing|            75.4|                 11.0|                  21|  0.01|             54.2373183|      95.0|       0|58.4|                                  24| 95.0|            7.21|     95.0|      0.1|   547.8517|3.9113313E7|                  6.0|                5.8|                                 0.741|         14.4|                   80.4|
| 48|             Angola| 2015|Developing|            52.4|                335.0|                  66|  NULL|                    0.0|      64.0|     118|23.3|                                  98|  7.0|            NULL|     64.0|      1.9|3695.793748|  2785935.0|                  8.3|                8.2|                                 0.531|         11.4|                   57.4|
| 49|             Angola| 2014|Developing|            51.7|                348.0|                  67|  8.33|              23.965612|      64.0|   11699|22.7|                                 101| 68.0|            3.31|     64.0|      2.0|  479.31224|  2692466.0|                  8.5|                8.3|                                 0.527|         11.4|                   56.7|
| 64|Antigua and Barbuda| 2015|Developing|            76.4|                 13.0|                   0|  NULL|                    0.0|      99.0|       0|47.7|                                   0| 86.0|            NULL|     99.0|      0.2| 13566.9541|       NULL|                  3.3|                3.3|                                 0.784|         13.9|                   81.4|
| 65|Antigua and Barbuda| 2014|Developing|            76.2|                131.0|                   0|  8.56|            2422.999774|      99.0|       0|47.0|                                   0| 96.0|            5.54|     99.0|      0.2|12888.29667|       NULL|                  3.3|                3.3|                                 0.782|         13.9|                   81.2|
| 80|          Argentina| 2015|Developing|            76.3|                116.0|                   8|  NULL|                    0.0|      94.0|       0|62.8|                                   9| 93.0|            NULL|     94.0|      0.1| 13467.1236|4.3417765E7|                  1.0|                0.9|                                 0.826|         17.3|                   81.3|
| 81|          Argentina| 2014|Developing|            76.2|                118.0|                   8|  7.93|            847.3717463|      94.0|       1|62.2|                                   9| 92.0|            4.79|     94.0|      0.1|12245.25645|4.2981515E7|                  1.0|                0.9|                                 0.825|         17.3|                   81.2|
| 96|            Armenia| 2015|Developing|            74.8|                118.0|                   1|  NULL|                    0.0|      94.0|      33|54.9|                                   1| 96.0|            NULL|     94.0|      0.1| 369.654776|   291695.0|                  2.1|                2.2|                                 0.741|         12.7|                   79.8|
| 97|            Armenia| 2014|Developing|            74.6|                 12.0|                   1|  3.91|            295.6087143|      93.0|      13|54.1|                                   1| 95.0|            4.48|     93.0|      0.1|3994.712355|    29622.0|                  2.1|                2.1|                                 0.739|         12.7|                   79.6|
|112|          Australia| 2015| Developed|            82.8|                 59.0|                   1|  NULL|                    0.0|      93.0|      74|66.6|                                   1| 93.0|            NULL|     93.0|      0.1| 56554.3876|2.3789338E7|                  0.6|                0.6|                                 0.937|         20.4|                   87.8|
|113|          Australia| 2014| Developed|            82.7|                  6.0|                   1|  9.71|            10769.36305|      91.0|     340|66.1|                                   1| 92.0|            9.42|     92.0|      0.1| 62214.6912|  2346694.0|                  0.6|                0.6|                                 0.936|         20.4|                   87.7|
|128|            Austria| 2015| Developed|            81.5|                 65.0|                   0|  NULL|                    0.0|      93.0|     309|57.6|                                   0| 93.0|            NULL|     93.0|      0.1|  43665.947|  8633169.0|                  1.9|                2.1|                                 0.892|         15.9|                   86.5|
|129|            Austria| 2014| Developed|            81.4|                 66.0|                   0| 12.32|            8350.193523|      98.0|     117|57.1|                                   0| 98.0|           11.21|     98.0|      0.1|51322.63997|  8541575.0|                  1.8|                2.0|                                 0.892|         15.9|                   86.4|
|144|         Azerbaijan| 2015|Developing|            72.7|                118.0|                   5|  NULL|                    0.0|      96.0|       0|52.5|                                   6| 98.0|            NULL|     96.0|      0.1|   55.31382|  9649341.0|                  2.8|                2.9|                                 0.758|         12.7|                   77.7|
|145|         Azerbaijan| 2014|Developing|            72.5|                119.0|                   5|  0.01|            306.1824313|      94.0|       0|51.5|                                   6| 97.0|             6.4|     94.0|      0.1|7891.299776|   953579.0|                  2.8|                2.9|                                 0.752|         12.2|                   77.5|
+---+-------------------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+-----------+-----------+---------------------+-------------------+--------------------------------------+-------------+-----------------------+
only showing top 20 rows

In [ ]:
df.groupBy("Pays").count().show()                                    # Agréger

+--------------------+-----+
|                Pays|count|
+--------------------+-----+
|       Côte d'Ivoire|   16|
|                Chad|   16|
|Micronesia (Feder...|   16|
|            Paraguay|   16|
|               Yemen|   16|
|             Senegal|   16|
|          Cabo Verde|   16|
|              Sweden|   16|
|            Kiribati|   16|
|   Republic of Korea|   16|
|              Guyana|   16|
|             Eritrea|   16|
|         Philippines|   16|
|            Djibouti|   16|
|               Tonga|   16|
|            Malaysia|   16|
|           Singapore|   16|
|                Fiji|   16|
|              Turkey|   16|
|              Malawi|   16|
+--------------------+-----+
only showing top 20 rows

In [ ]:
df.groupBy("Pays").avg("Espérance de vie").show()

+--------------------+---------------------+
|                Pays|avg(Espérance de vie)|
+--------------------+---------------------+
|       Côte d'Ivoire|              50.3875|
|                Chad|              50.3875|
|Micronesia (Feder...|                 68.2|
|            Paraguay|              73.1125|
|               Yemen|   63.862500000000004|
|             Senegal|             62.56875|
|          Cabo Verde|             72.51875|
|              Sweden|             82.51875|
|            Kiribati|    65.14999999999999|
|   Republic of Korea|              80.4875|
|              Guyana|              65.6375|
|             Eritrea|              60.6875|
|         Philippines|    67.57499999999999|
|            Djibouti|             60.75625|
|               Tonga|    72.53124999999999|
|            Malaysia|    73.75625000000001|
|           Singapore|    81.47500000000001|
|                Fiji|              68.7125|
|              Turkey|              73.9125|
|              Malawi|   49.893750000000004|
+--------------------+---------------------+
only showing top 20 rows

In [ ]:
# Afficher uniquement les français avec Espérance de vie de plus de 70 ans
df.filter((col("Pays") == "France") & (col("Espérance de vie") > 70)).show()

+---+------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+-----------+-----------+---------------------+-------------------+--------------------------------------+-------------+-----------------------+
|_c0|  Pays|Année|    Statut|Espérance de vie|Mortalité des adultes|Décès de nourrissons|Alcool|Dépenses en pourcentage|Hépatite B|Rougeole| IMC|Décès d'enfants de moins de cinq ans|Polio|Dépenses totales|Diphtérie|VIH/SIDA |        PIB| Population| thinness  1-19 years| thinness 5-9 years|Composition des revenus des ressources|Scolarisation|Espérance de vie_plus_5|
+---+------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+-----------+-----------+---------------------+-------------------+--------------------------------------+-------------+-----------------------+
|930|France| 2015|Developing|            82.4|                 78.0|                   2|  NULL|                    0.0|      86.0|     157|62.5|                                   3| 98.0|            NULL|     98.0|      0.1| 36526.7711|  6662468.0|                  0.7|                0.6|                                 0.894|         16.3|                   87.4|
|931|France| 2014|Developing|            82.2|                 79.0|                   3|  11.5|            6739.677606|      83.0|     267|62.0|                                   3| 98.0|           11.54|     98.0|      0.1|42955.24287|6.6331957E7|                  0.6|                0.6|                                  0.89|         16.2|                   87.2|
|932|France| 2013|Developing|            82.0|                 81.0|                   3|  11.1|            6646.953935|      74.0|     272|61.6|                                   3| 99.0|           11.56|     99.0|      0.1| 42554.1225|  6599857.0|                  0.6|                0.6|                                 0.887|         16.2|                   87.0|
|933|France| 2012|Developing|            81.5|                 83.0|                   3|  11.5|            751.3793553|      78.0|       0|61.1|                                   3| 99.0|           11.44|     99.0|      0.1|  4838.2444|  6565979.0|                  0.6|                0.6|                                 0.885|         16.1|                   86.5|
|934|France| 2011|Developing|            81.7|                 83.0|                   3|  11.8|            683.9190568|      74.0|   14949| 6.6|                                   3| 99.0|           11.33|     99.0|      0.1|   4381.288|6.5342776E7|                  0.6|                0.6|                                 0.882|         16.1|                   86.7|
|935|France| 2010|Developing|            81.3|                 86.0|                   3|  11.7|             72.8001211|      65.0|    5048| 6.1|                                   3| 99.0|            11.2|     99.0|      0.1|  473.34279|  6527512.0|                  0.6|                0.6|                                 0.879|         16.0|                   86.3|
|936|France| 2009|Developing|            81.1|                 88.0|                   3|  11.8|             6415.35735|      51.0|    1541|59.6|                                   3| 98.0|           11.28|     98.0|      0.1|41631.13141|   647744.0|                  0.6|                0.6|                                 0.879|         16.0|                   86.1|
|937|France| 2008|Developing|            89.0|                 88.0|                   3|  11.9|            7002.785925|      47.0|     604|59.1|                                   3| 98.0|            1.57|     98.0|      0.1| 45413.6571|  6437499.0|                  0.6|                0.6|                                 0.877|         16.1|                   94.0|
|938|France| 2007|Developing|            89.0|                 89.0|                   3|  12.2|            64.73714894|      42.0|      39|58.6|                                   3| 99.0|            1.45|     98.0|      0.1|  416.58397|  6416229.0|                  0.6|                0.6|                                 0.873|         16.1|                   94.0|
|939|France| 2006|Developing|            86.0|                 92.0|                   3|  12.4|            5689.991931|      39.0|      40|58.0|                                   4| 99.0|            1.53|     99.0|      0.1| 36544.5853|6.3621376E7|                  0.6|                0.6|                                  0.87|         16.1|                   91.0|
|940|France| 2005|Developing|            81.0|                 93.0|                   3|  12.2|            5451.701225|      35.0|      36|57.5|                                   4| 98.0|             1.6|     98.0|      0.1|34879.72633|6.3179356E7|                  0.6|                0.6|                                  0.86|         15.5|                   86.0|
|941|France| 2004|Developing|            82.0|                 94.0|                   3| 13.18|            5291.234786|      35.0|    4448|57.0|                                   4| 99.0|            1.53|     98.0|      0.1|33874.74255|  6274897.0|                  0.6|                0.6|                                 0.857|         15.5|                   87.0|
|942|France| 2003|Developing|            79.3|                 99.0|                   3| 13.49|            4572.441963|      28.0|       0|56.4|                                   4| 96.0|            1.43|     97.0|      0.1|29691.18158|6.2244884E7|                  0.6|                0.6|                                 0.852|         15.4|                   84.3|
|943|France| 2002|Developing|            79.2|                 11.0|                   3| 13.78|            3779.655273|      29.0|    5185|55.8|                                   4| 97.0|            1.22|     97.0|      0.1| 24275.2426|  6185267.0|                  0.7|                0.6|                                 0.851|         15.5|                   84.2|
|944|France| 2001|Developing|            79.0|                 13.0|                   3| 13.89|            3451.185079|      28.0|       0|55.2|                                   4| 98.0|            9.89|     97.0|      0.1|22527.31775|6.1357431E7|                  0.7|                0.6|                                 0.849|         15.6|                   84.0|
|945|France| 2000|Developing|            78.8|                 13.0|                   3| 13.63|            3410.284431|      26.0|   10000|54.6|                                   4| 98.0|            9.77|     97.0|      0.1|22465.64184|  6912498.0|                  0.7|                0.6|                                 0.844|         15.7|                   83.8|
+---+------+-----+----------+----------------+---------------------+--------------------+------+-----------------------+----------+--------+----+------------------------------------+-----+----------------+---------+---------+-----------+-----------+---------------------+-------------------+--------------------------------------+-------------+-----------------------+

In [ ]:
df.select("Pays", "Espérance de vie").filter(col("Pays") == "France").filter(col("Espérance de vie") > 70).show()

+------+----------------+
|  Pays|Espérance de vie|
+------+----------------+
|France|            82.4|
|France|            82.2|
|France|            82.0|
|France|            81.5|
|France|            81.7|
|France|            81.3|
|France|            81.1|
|France|            89.0|
|France|            89.0|
|France|            86.0|
|France|            81.0|
|France|            82.0|
|France|            79.3|
|France|            79.2|
|France|            79.0|
|France|            78.8|
+------+----------------+

## 5.Transformations vs Actions

In [ ]:
filtre = df.filter(col("Année") > 2014)  # Transformation

In [ ]:
filtre.count()  # Action -> déclenche le calcul

183

##6. Qu’est-ce qu’un RDD ?
Un RDD est une collection distribuée d’objets, répartie sur plusieurs nœuds du cluster. Les RDDs permettent des opérations parallèles, tolérantes aux pannes

## a. Création d’un RDD à partir d’une liste Python

In [7]:
rdd = spark.sparkContext.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [ ]:
rdd2 = rdd.map(lambda x: x +2)                              #ransformation avec map
print(rdd2.collect())

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
rdd_filtre = rdd2.filter(lambda x: x % 2 == 0)
print(rdd_filtre.collect())

[4, 6, 8, 10, 12]

## b. Création d’un RDDà partir d’un fichier texte

In [12]:
rdd3 = spark.sparkContext.textFile("Data_science.txt")   #  Charger le fichier .txt en RDD

In [13]:
rdd3.take(5)  # Affiche les 5 premières lignes

['La data science est un domaine interdisciplinaire qui utilise des méthodes scientifiques, des algorithmes et des systèmes pour extraire des connaissances et des insights à partir de données structurées et non structurées. Elle combine des compétences issues des mathématiques, de la statistique, de l’informatique et du domaine métier.',
 'Au cœur de la data science, on trouve des étapes clés : la collecte de données, le nettoyage, l’exploration, l’analyse et la modélisation prédictive. Les données peuvent provenir de diverses sources : bases de données, capteurs IoT, réseaux sociaux, fichiers log, etc. Une grande partie du travail du data scientist consiste à rendre ces données exploitables, ce qui inclut la gestion des valeurs manquantes, des doublons et des formats incohérents.',
 'Les outils et langages les plus courants sont Python, R, SQL, ainsi que des bibliothèques comme pandas, scikit-learn, TensorFlow, ou encore PySpark pour le traitement de données volumineuses. Les data scientists utilisent aussi des outils de visualisation comme Matplotlib, Seaborn, ou Tableau pour interpréter et communiquer les résultats.',
 'Les cas d’usage de la data science sont nombreux : recommandations (Netflix, Amazon), détection de fraude, analyse marketing, santé prédictive, voitures autonomes, etc. L’apprentissage automatique (machine learning) permet de créer des modèles qui apprennent à partir des données et prédisent des comportements ou des résultats futurs.',
 'Les métiers autour de la data science sont également variés : data analyst, data engineer, machine learning engineer, et bien sûr data scientist. Chacun joue un rôle spécifique dans le cycle de vie de la donnée.']

In [14]:
rdd3.count()   #  Compter le nombre de lignes

7

Traitement du texte

In [15]:
mots = rdd3.flatMap(lambda ligne: ligne.split(" "))  # Séparer en mots

In [16]:
import re
mots_nettoyes = mots.map(lambda mot: re.sub(r'\W+', '', mot.lower())).filter(lambda mot: mot != "")  # Nettoyer les mots (ponctuation + minuscules)

In [18]:

# Compter la fréquence des mots

paires = mots_nettoyes.map(lambda mot: (mot, 1))
frequence_mots = paires.reduceByKey(lambda a, b: a + b)

# Trier les mots par fréquence décroissante
mots_tries = frequence_mots.sortBy(lambda x: x[1], ascending=False)
mots_tries.take(10)  # Afficher les 10 mots les plus fréquents

[('des', 21),
 ('de', 17),
 ('la', 14),
 ('data', 12),
 ('et', 11),
 ('données', 9),
 ('les', 8),
 ('science', 6),
 ('à', 4),
 ('le', 4)]